.message-decorator-editor-content {
    font-size: 14px;
    line-height: 1;
    max-height: 100%;
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 100%;
}

.message-decorator-editor-content .tiptap.ProseMirror {
    padding: 0.5rem;
    height: 100%;
}

.mantine-RichTextEditor-content {
    height: 100%;
}