.message-decorator-editor-content {
    font-size: 14px;
    max-height: 100%;
    line-height: 1.2;
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 100%;
}

.message-decorator-editor-content .tiptap.ProseMirror {
    padding: 0.5rem;
    height: 100%;
}

.mantine-RichTextEditor-content {
    height: 100%;
}

.message-decorator-editor-content .tiptap p {
    margin: 0;
}

.normal-text-placeholder {
    color: var(--mantine-color-gray-5);
}